<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Mercury Demo Tours" parallel="classes" verbose="1" >

    <!--<listeners>-->
    <!--<listener class-name="com.rajhaldar.Listeners.Listeners" />-->
    <!--</listeners>-->
    <parameter name="browser" value="Chrome"/>
    <parameter name="headless" value="FALSE"/>
    <parameter name="testDataFile" value="TestData"/>

    <test name="com.rajhaldar" >
        <classes>
            <class name="com.mckesson.LondonToParisValidateRate" />
            <class name="com.mckesson.ParisToZurichValidateRate" />
            <class name="com.mckesson.AcapulcoToFrankfurtValidateRate" />
            <class name="com.mckesson.HeadlessTest" />
        </classes>
    </test>

</suite>